* {
    font-family: 'Courier';
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}

/* 
    HOME PAGE 
*/
#title{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 525px;
    text-align: center;
    font-size: 75px;
    border: solid white 2px;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255, 0.2);
}
#over{
    display: none;
    background: black;
    width: 90%;
    height: 90%;
    position: absolute;
    opacity: .5;
    z-index: 1;
}
#arthur{
    position:absolute;
    left: 100px;
}
#backgroundImg{
    outline: solid black 2px;
    outline-offset: -2px;
}
#main-menu {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 40%;
}
#menu-button{
    box-shadow: 2px 2px 4px 3px rgba(100,100,100, 0.1);
    display: block;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    background: rgb(30, 30, 30);
    border:none;
    outline:none;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
    font-size: medium;
    transition-duration: 200ms;
    border-radius: 10px;
}
#menu-button:hover{
    box-shadow: 0px 0px 3px 1px rgba(255,255,255, 1);
}
#settings{
    display: none;
    background: rgb(50, 50, 50,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    z-index: 2;
}
#settings h2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    background: rgb(30,30,30);
    padding: 10px;
    cursor: default;
}
#credits{
    display: none;
    background: rgb(50, 50, 50,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    z-index: 2;
}
#credits p, #credits h2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    background: rgb(30,30,30);
    padding: 10px;
    cursor: default;
    transition-duration: 200ms;
}
#credits p span{display:none;}
#credits p:hover{box-shadow: 0px 0px 5px 3px rgba(255,255,255, .4);}
#credits p:hover span{ display:block;}
#back{
    position: absolute;
    top: 90%;
    left: 40px;
    transform: translate(-50%);
    border-radius: 100%;
    cursor:pointer;
    transition-duration: 200ms;
}
#back:hover{
    opacity: .7;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255, 1);
}

/* 
    GAME 
*/
#overlay{
    display: block;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 2;
}
#game-over{
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#game-over #text{
    height: 80%;
    background: rgb(50, 50, 50);
}
#game-over #text p{
    text-align: center;
    margin: 10px 5px 10px 5px;
    font-size: 22px;
}
#game-over #text h1{
    color: red;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
#game-over #buttons{
    margin-top: 10px;
}
#game-over #buttons #button{
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    background: rgb(50, 50, 50);
    display: inline-block;
    border: none;
    width: calc(50% - 25px);
    font-size: medium;
    transition-duration: 150ms;
}
#game-over #buttons #button:hover{
    outline: solid white 1px;
    outline-offset: 3px;
}

#dialog {
    display: block;
    padding: 5px;
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(30, 30, 30);
    box-shadow: 0px 0px 5px 5px rgba(150,150,150, 0.1);
}

#dialog-text {
    background: rgb(20, 20, 20);
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0, 0.2);
}

#dialog-input {
    border: none;
    outline: none;
    background: rgb(50, 50, 50);
    padding: 10px;
    margin: 10px;
    display: block;
    width: calc(100% - 40px);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0, 0.2);
}
.dialog-button {
    padding: 10px 20px;
    background: rgb(50, 50, 50);
    display: inline-block;
    border: none;
    margin: 10px;
    transition-duration: 150ms;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0, 0.2);
}
.dialog-button.enabled:hover {
    box-shadow: 0px 0px 3px 1px rgba(255,255,255, 1);
}
.dialog-button.enabled {
    cursor: pointer;
}
.dialog-button.disabled {
    cursor: default;
    color: rgb(255, 255, 255, .6)
}
.dialog-button.disabled.active {
    color: white;
}